{% extends "base/base.html" %}

{% block content%}

<div class="card-header ">
    <h4 class="card-title">{{card_title}}</h4>
</div>
<div class="card-body ">
    <div class="CUSTOM">
        <form class="form-horizontal" method="POST">
            {% csrf_token %}
            <br>
            <div class="form-group">
                <!--<div class="form-group">-->
                    <label for="{{ form.tipo_doc.name }}" class="control-label col-sm-12">{{ form.tipo_doc.label }}</label>
                    <div class="col-lg-6 col-sm-12">
                        {{ form.tipo_doc }}
                    </div>
                    <label for="{{ form.nro_doc.name }}" class="control-label col-sm-12">{{ form.nro_doc.label }}</label>
                    <div class="col-lg-6 col-sm-12">
                        {{ form.nro_doc }}
                    </div>
                <!--</div>-->
                <label for="{{ form.nombre.name }}" class="control-label col-sm-12">{{ form.nombre.label }}</label>
                <div class="col-lg-6 col-sm-12">
                    {{ form.nombre }}
                </div>
                <label for="{{ form.direccion.name }}" class="control-label col-sm-12">{{ form.direccion.label }}</label>
                <div class="col-lg-6 col-sm-12">
                    {{ form.direccion }}
                </div>
                <label for="{{ form.telefono.name }}" class="control-label col-sm-12">{{ form.telefono.label }}</label>
                <div class="col-lg-6 col-sm-12">
                    {{ form.telefono }}
                </div>
                <label for="{{ form.email.name }}" class="control-label col-sm-12">{{ form.email.label }}</label>
                <div class="col-lg-6 col-sm-12">
                    {{ form.email }}
                </div>
                <label for="{{ form.habilitado.name }}" class="control-label col-sm-12">{{ form.habilitado.label }}</label>
                <div class="col-lg-6 col-sm-12">
                    {{ form.habilitado }}
                </div>


            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <a href="javascript:void(0)" role="button" class="btn btn-default" id="editar"><i
                            class="far fa-edit"></i> Editar</a>
                    <button class="btn btn-primary" type="submit"><i class="far fa-save" aria-hidden="true"></i> Guardar
                    </button>
                    <a href="{% url 'facturas:proveedores' %}" class="btn btn-default" id="cancelar"><i
                            class="fas fa-times"></i> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}