{% extends "base/base.html" %}

{% block content%}
<div class="card-header ">
    <h4 class="card-title">{{card_title}}
        <div class="btn-group pull-right" role="group">
            <a href="{% url 'facturas:proveedores-crear' %}" type="button" class="btn btn-outline-primary btn-sm"><i class="fa fa-plus"></i> Nuevo</a>
        </div>
    </h4>
</div>
<div class="card-body ">
    <div class="CUSTOM">

        <table class="table table-hover">
            <thead>
            <tr role="row">
                <th aria-label>ID</th>
                <th aria-label>Documento</th>
                <th aria-label>Nombre</th>
                <th aria-label>Dirección</th>
                <th aria-label>Teléfono</th>
                <th aria-label>E-Mail</th>
                <th aria-label class="text-center">Habilitado</th>
            </tr>
            </thead>
            <tbody>
            {% if object_list%}
            {% for row in object_list %}
            <tr>
                <td>
                    <a href="{% url 'facturas:proveedores-editar' row.id %}">{{row.id}}</a>
                </td>
                <td>{{row.documento_formateado}}</td>
                <td>{{row.nombre}}</td>
                <td>{{row.direccion}}</td>
                <td>{{row.telefono}}</td>
                <td>{{row.email}}</td>
                <td class="text-center">
                    {% if row.habilitado %}
                    <input class="big-checkbox" type="checkbox" checked="checked" onclick="return false">
                    {% else %}
                    <input class="big-checkbox" type="checkbox" onclick="return false">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
