

{% extends "base/base.html" %}
{% load staticfiles %}
{% block content%}
<div class="card">
    <div class="card-title">
        <h3>{{titulo}}</h3>
    </div>
    <div class="card-body">
        <form class="form-horizontal" method="POST">
            {% csrf_token %}
            <input type="hidden" id="object_id" value="{{object.id}}">
            <br>
            <div class="form-group">
                <div class="row">
                    <label for="{{ form.timbrado.name }}" class="control-label col-sm-2">{{ form.timbrado.label }}</label>
                    <div class="col-sm-4">
                        {{ form.timbrado }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="{{ form.establecimiento.name }}" class="control-label col-sm-2">Factura</label>
                    <div class="col-sm-2">
                        {{ form.establecimiento }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.punto_expedicion }}
                    </div>
                    <div class="col-sm-2">
                        {{ form.numero }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="{{ form.proveedor.name }}" class="control-label col-sm-2">{{ form.proveedor.label }}</label>
                    <div class="col-sm-6">
                        {{ form.proveedor }}
                    </div>
                    <span><a href="{% url 'facturas:proveedores-crear' %}" class="fa fa-plus-circle fa-2x"></a></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="{{ form.fecha.name }}" class="control-label col-sm-2">{{ form.fecha.label }}</label>
                    <div class="col-sm-4">
                        {{ form.fecha }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label for="{{ form.tipo.name }}" class="control-label col-sm-2">{{ form.tipo.label }}</label>
                    <div class="col-sm-4">
                        {{ form.tipo }}
                    </div>
                </div>
            </div>
            <!--<div class="form-group">
                <div class="row">
                    <label for="{{ form.moneda.name }}" class="control-label col-sm-2">{{ form.moneda.label }}</label>
                    <div class="col-sm-4">
                        {{ form.moneda }}
                    </div>
                </div>
            </div>-->
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2"><b>Detalles</b></label>
                </div>
                <div class="col-offset-4 col-sm-8" id="row_detalle">

                </div>
            </div>

            <div class="form-group">
                <!--<div class="row">-->
                <div class="col-offset-4 col-sm-8">
                    <a href="javascript:void(0);" id="addDetalle" class="fa fa-plus-circle fa-3x"></a>
                </div>
                <!--</div>-->
            </div>

            <div class="form-group">
                <!--<div class="row">-->
                <div class="col-offset-4 col-sm-8">
                    {% if object.id %}
                    <!--<a href="javascript:void(0)" role="button" class="btn btn-secondary" id="editar">
                        <i class="fa fa-edit"></i> Editar
                        </a>-->
                    {% endif %}
                    <button class="btn btn-primary" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Guardar y Cargar Nuevo
                    </button>
                    <a href="{% url 'facturas:ingresoFactura' %}" class="btn btn-danger" id="cancelar">
                    <i class="fa fa-times"></i> Cancelar
                    </a>
                </div>
                <!--</div>-->
            </div>
        </form>
    </div>
</div>
{% if object.id %}
<div class="card">
    <h4 class="card-title">
        Detalles de Factura
    </h4>
    <div class="btn-group pull-right" role="group">
        <a href="javascript:void(0)" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modalDetalle" id="nuevo"><i class="fa fa-plus"></i> Nuevo</a>
    </div>
    <div class="card-body">
        <br>
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr role="row">
                        <th aria-label>Cantidad</th>
                        <th aria-label>Descripción</th>
                        <th aria-label>Monto</th>
                        <th aria-label>Monto Eq.</th>
                        <th aria-label>IVA %</th>
                        <th aria-label>Monto IVA</th>
                        <th aria-label>Monto IVA Eq.</th>
                    </tr>
                </thead>
                <tbody>
                    {% if detalles_factura %}
                    {% for row in detalles_factura %}
                    <tr>
                        <td>
                            <a href="javascript:void(0)" id="{{row.id}}" name="detalleFactura">{{row.cantidad}}</a>
                        </td>
                        <td>{{row.descripcion}}</td>
                        <td>{{row.monto}}</td>
                        <td>{{row.monto_eq}}</td>
                        <td>{{row.iva.porcentaje}}</td>
                        <td>{{row.monto_iva}}</td>
                        <td>{{row.monto_iva_eq}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle de factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="object_detalle_id">
                    <div class="form-group">
                        <label for="cantidad" class="col-form-label">Cantidad:</label>
                        <input type="number" class="form-control" id="cantidad">
                    </div>
                    <div class="form-group">
                        <label for="monto" class="col-form-label">Monto:</label>
                        <input type="number" class="form-control" id="monto">
                    </div>
                    <div class="form-group">
                        <label for="iva" class="col-form-label">IVA:</label>
                        <select class="form-control-chosen" id="iva">
                            <option value="1">10 %</option>
                            <option value="2">5 %</option>
                            <option value="3">Exenta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="monto" class="col-form-label">Monto IVA:</label>
                        <input type="number" class="form-control" id="monto_iva">
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="col-form-label">Descripción:</label>
                        <textarea class="form-control" id="descripcion"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="guardarDetalle">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script src="{% static 'ela/js/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'apps/facturas/ingresoFactura/form.js' %}"></script>
{% endblock %}

